[submodule "submodule/extern/open-license-manager"]
	path = submodule/extern/open-license-manager
	url = https://github.com/open-license-manager/licensecc.git
	branch = .
	ignore = all
	
[submodule "program_features/extern/open-license-manager"]
	path = program_features/extern/open-license-manager
	url = https://github.com/open-license-manager/licensecc.git
	branch = .
	ignore = all